body {
    /*background-color: #ff6543*/
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

header, section {
   /* margin: 10px;*/
    
}
.container {
    background-color:rgb(179, 225, 240);
    /*margin: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
*/
}

#skills {
    word-spacing: .30em;
}

.picture img {
    max-width: 200px;
    max-height: 200px;
    float: left;
    border: 1px dashed blueviolet; 
    margin-right: 10px;   
}


.details {
    padding: 5px;
    margin-left: 5px;
    width: 50%;
    float:  left;
}

.connect {
    float:  right;
    margin-right: 50px;
}

.connect a:link, .connect a:visited {
color: black; 
margin: 8px;
/*padding: 5px;*/
}

.duration {
    text-align: right;
}

#name {
    text-align: center;
}

.heading
{
    font-weight: bold;
}

table 
{
    text-align: center;
    /*border: 1px solid black;*/
    border-collapse: collapse;
    

}
table, th, td {
    border: 2px  solid grey;
    padding: 8px;
}

table th {
    background-color: #4CAF50;
}
.nav_menu {
    list-style-type: none;
    padding: 0px;
    margin: 3px;  
    top: 0px;
    /*position: fixed;*/
    /*margin-bottom: 300px;*/
}

.nav_menu li {
    float: left;
    background-color: #333;
    border-right: 1px solid #dd8888;

}

.nav_menu li a {
    display: block;
    padding: 10px;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    color: white;
    
}

.nav_menu li a:hover {
    background-color: #111;
}

.clear  {
    clear: both;
}

.scroll  {
    text-align: right;
    padding-right: 150px;
}
.langtable  {
    align-self: center;
    /*margin-left: 28%;*/
}

footer {
    text-align: right;
    
    padding-right: 40px;
    
    /*margin: 20px;*/
}
